<div class="row">
  <div class="col-lg-4">
    <div class="border-1 bg-light p-3 mb-3">
      <div class="d-flex flex-column align-items-center">
        <fio-user-avatar [src]="profileEdit?.avatar" [username]="profileEdit.username" class="mb-2">
        </fio-user-avatar>
        <div class="ml-2">
          <button class="btn btn-outline-primary" (click)="changeAvatar()">Upload new image</button>
        </div>
      </div>
    </div>
    <div class="border-1 bg-light p-3">
      <h4>Info & Security</h4>
      <p>Your personal information and security</p>
      <h6>Email is {{(!profileEdit?.verified)?'not':''}} verified</h6>
      <input [attr.disabled]="true" 
        [ngClass]="{
          'is-valid': profileEdit?.verified,
          'is-invalid': !profileEdit?.verified
        }"
        class="form-control" [attr.value]="profileEdit?.email" >
      <div class="mb-2 small">{{reSendVerificationEmailMsg}}</div>
        <button *ngIf="!profileEdit?.verified" class="btn btn-sm btn-primary mt-2" (click)="reSendVerificationEmail()">Resend verification</button>
    </div>
  </div>
  <div class="col-lg-8">
    <fio-user-cover [url]="profileEdit?.coverImageURL" class="border-1 bg-light mb-3"></fio-user-cover>
    <form class="feeds-form container-fluid border-1 bg-light p-3 d-block mb-3" novalidate>
      <div class="row">
        <fio-username-unique-input [value]="profileEdit.username" [disabled]="true" class="col mb-3 form-group"></fio-username-unique-input>
        <div class="col-md-12 mb-3">
          <label>First name</label>
          <input [(ngModel)]="profileEdit.firstName" name="First Name" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-md-12 mb-3">
          <label>Last name</label>
          <input [(ngModel)]="profileEdit.lastName" name="Last Name" type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <button class="btn btn-success" type="submit" (click)="updateProfile()">Save changes</button>
    </form>

  </div>
</div>
